@import url('reset.css');

.clearfix {
  clear: both;
  height: 1px;
}

/* player elements */
#player-frame, #posit, #SelocationIdentifier {
  display: none;
}

.player-control {
  float: right;
  width: 320px;
}

@media (max-width: 769px) {
  .player-control {
    float: left;
  }
}

.player-speaker {
  font-color: #333;
  /*   font-size: 0.9em;*/
  padding: 3px 0;
  text-align: center;
}

.transcript-control {
  float: left;
  width: 315px;
  clear: right;
  margin-bottom: -10px;
}

.vertical_player #player-control{
 float:none;
 margin:0 auto;
}

.transcript {
  padding: 70px 5px 120px 5px;
  height: 20px;
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,0.298039);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: left;
}

.transcript .error-message {
  color: #100;
  font-weight: bold;
  text-align: center;
}

.control-selector {
  padding-top: 5px;
}

.pane {
  clear: left;
  line-height: 1.4em;
  margin: 10px 0 0;
  overflow-y: auto;
}

.transcript-search {
  display: none;
  padding: 0 5px 0 5px;
  height: 210px;
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,0.298039);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: left;
}

.transcript span {
  background-color: transparent;
  opacity: 0.65;
}

.transcript .current {
  border-bottom: 2px solid black;
}

.transcript .passed {
  opacity: 0.35;
}

.transcript .paused {
  opacity: 1;
  cursor: default;
}

.transcript span.paused:hover {
  background-color: yellow;
}

.search-control {
  text-align: right;
}

.search-control .search {
  text-align: right;
  /* added to show border-style, border-width in MIT OCW*/
  border-style:solid;
  border-width:1px;
  width: 165px;
}

.search-count {
  color: #888;
  font-size: 0.9em;
  padding: 0 1em 0 0;
}

.transcript-search .time {
  color: #888;
  font-size: 0.8em;
}

.transcript-search .highlight {
  background-color: yellow;
}

.transcript-search div {
  background-color: transparent;
  cursor: pointer;
}

.transcript-search div:hover {
  background-color: yellow;
}

.control {
  opacity: 0.65;
  list-style: none;
}

.control label {
  font-size; 0.95em;
  padding-left: 0.5em;
  font-size: 11px;
}

.control:hover {
  opacity: 1;
}

.video img {
  cursor: pointer;
  width: 200px;
}

.modal-footer .branding {
  width: 100px;
}
